<div class="display-card" *ngFor="let option of optionField; let i = index">
  <mat-checkbox class="example-margin" [disabled]="true">
    <mat-form-field class="form-field">
      <input
        matInput
        [name]="'Option ' + i"
        style="width: 100%"
        [placeholder]="'Option ' + (i + 1)"
        class="input-field"
      />
      <mat-icon (click)="deleteOption(i + 1)">close</mat-icon>
    </mat-form-field></mat-checkbox
  >
</div>
<mat-checkbox
  class="example-margin form-field"
  [disabled]="true"
  (click)="expandOption()"
  >Add Option or Add Other</mat-checkbox
>
