<label class="heading">Active</label>

<div class="display-card" >
<mdb-card *ngFor="let incompleteSurvey of IncompleteSurvey">
    <!--Card image-->
   
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>{{incompleteSurvey.surveyTitle}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> {{incompleteSurvey.surveyDescription}}
      </mdb-card-text>
      <label class="date"> Last Date:{{incompleteSurvey.endDate}}
      </label>
      <a [routerLink]="['/survey-form']" mdbBtn color="primary" mdbWavesEffect>Take Survey</a>
    </mdb-card-body>
  </mdb-card>
</div>
<label class="heading">Completed</label>
<div class="display-card">
  <mdb-card *ngFor="let completedSurvey of CompletedSurvey" (click)="createChart();frame.show()">
    <!--Card image-->
   
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>{{completedSurvey.surveyTitle}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> {{completedSurvey.surveyDescription}}
      </mdb-card-text>
      <label class="date"> Last Date:{{completedSurvey.endDate}}
      </label>
      
    </mdb-card-body>
  </mdb-card>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex">
        <p class="heading">Survey Form</p>
        
        <mat-icon class="icon-delete" (click)="frame.hide()">close</mat-icon>

      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="bell" size="4x" class="animated rotateIn mb-4"></mdb-icon>
        <canvas id="myChart" width="400" height="400" class="chart"></canvas>
      </div>

      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
</div>
</div>
 