
.question{
    display: block;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 4%;
    flex-wrap: wrap;
}
.space{
    margin-left:10px;
}
.radio{
    margin-left:5px;
}
.option{
    margin-top: 3%;
    margin-bottom: 3%;
}
.display{
    display:flex;
}